html {
  font-family:Arial, Helvetica, sans-serif;
  background-color: indigo;
}

body {
  color: red;
  position:absolute;
  top:0;
  right:0;
}

h1 {
  color: white;
  font-weight:bolder;
  font-style:italic;
  text-align:center;
  text-decoration:overline;
  position:fixed;
}

h2{
  text-align: right;
}

h3 {
  background-color: yellow;
}

.quote {
  color: white;
  font-style:italic;
  opacity:.5;
}

.quote.narrator {
  color: pink;
}

#intro p {
  color: white;
  border-style: dotted;
  border-color: yellow;
}

.super-important-omg {
  font-size: 20px;
  background-color: yellow;
}
