body {
  color: brown;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: red;
}

.quote {
  color: gray;
}

.quote.narrator {
  color: red;
}

#intro p {
  color: green;
}

.super-important-omg {
  font-size: 30px;
  background-color: yellow;
}
