body {
  color: #7de57d;
}

h1 {
  color: #3399ff;
}

.quote {
  color: #99ccff;
}

.quote.narrator {
  color: rgb(175, 57, 57);
}

#intro p {
  color: rgb(178, 90, 175);
}

.super-important-omg {
  font-size: 20px;
  background-color: white;
}
